{% extends 'base.html' %} {% block content %}

<h1>Autores</h1>
<table>
  {% for autor in autores %}
  <tr>
    <th>
      <a href="{% url 'detalle-autor' autor.id %}">
        <h1>{{autor.nombre}}</h1>
      </a>
    </th>
    <th>
      <form action="{% url 'eliminar-autor' id=autor.id %}" method="post">
        {% csrf_token %}
        <button>Eliminar</button>
      </form>
    </th>
  </tr>
  {% endfor %}
</table>
<button>
  <a href="/autores/crear">Crear autor</a>
</button>
{% endblock %}
